@media screen and (max-width:100vw){
    .header {
        justify-content: center;
        display: inline-flex;
    }
    .slider{
        height: 23vh;
        padding-left: 0vw;
    }
    .logo{
        justify-content: center;
        margin: 12px 0;
        display: inline-flex;
    }
    .card-item img{
        width: 140px;
    }
}